
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="col-lg-12 ">
        <div class="row">
            <h2 class="text-center">
                The thread 0x227c has exited with code 0 (0x0).
            </h2>
            <img src="~/Content/Images/HAKKIMIZDA-ekipbizz.jpg" class="center-block img-responsive img-rounded img-thumbnail" />
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in luctus metus, vitae tempus mi. Mauris convallis nulla ac leo aliquam,
                vel maximus tortor iaculis. Nam tincidunt vestibulum mauris ut dignissim. Sed finibus laoreet nunc, in volutpat purus feugiat sed.
            </p>
            <p>
                Proin et justo at nisi accumsan elementum nec a ante. Sed iaculis urna quis aliquam accumsan. Praesent non auctor lorem. Maecenas sed velit quam.
                Maecenas facilisis venenatis tincidunt.
            </p>
            <p>
                Fusce commodo neque in odio facilisis posuere. Aenean vitae sapien felis. Quisque venenatis mi lacus, non aliquam nibh commodo eu. Nulla leo leo,
                imperdiet fringilla pulvinar ut, condimentum eu nunc. Suspendisse lacinia libero eget tristique condimentum. Duis eget faucibus nunc.
                Proin ultricies in lectus vel blandit. Phasellus pellentesque ex sagittis vulputate sodales. Sed pellentesque ipsum finibus tempor consequat.
                Fusce a nulla id mauris venenatis malesuada. Nam ut elementum nisi. Praesent id nulla at velit tincidunt laoreet. Proin ante elit, pellentesque ut tortor a,
            </p>
            <p>
                Quisque pretium accumsan enim, sit amet ullamcorper lacus. Sed eu commodo lacus, ut dignissim nunc. Lorem ipsum
                Aliquam vehicula blandit quam at feugiat. Nam faucibus ullamcorper metus, sit amet mollis nisl venenatis quis.
                Nullam elementum ipsum dolor, sit amet imperdiet leo vestibulum vulputate. Morbi feugiat lacus ac nibh laoreet,
                porttitor pharetra nunc euismod. Fusce posuere finibus ipsum ut fringilla. Aenean accumsan felis eget consequat
                congue. Nam lorem nisl, suscipit non sagittis sed, cursus et lectus. Quisque ac felis in turpis eleifend volutpat.
                Vivamus finibus massa lacus. Vivamus ultrices erat sit amet ligula fermentum dapibus. Etiam placerat, dui vel iaculis al
                iquet, turpis massa commodo eros, quis vulputate ex mi in enim.
            </p>
        </div>
    </div>
</div>
<!-- Orta Geçiş -->
<div class="card text-white text-center" style="background-color:#343a40">
    <div class="card-body">
        <img width="200" height="100" src="@Url.Content("~/Content/Images/olcaysurucu.png")" />
        <p></p>
        <p class="text-white m-0">OLCAY SÜRÜCÜ KURSU GÜNCEL DUYURULAR!</p>
        <p class="text-white m-0">Güncel duyuruları takip etmek için kursumuza kayıt olmayı unutmayın!</p>
    </div>
</div>


